node_modules
.next
.env.local
.env
.DS_Store
.env.local
.env.local.save
.env.localc
.env.local
.env.local.save
.env.localc

.env.local
.env.local.save
.env.localc

.env.local
.env.local.save
.env.localc
